/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
*.m
Debug
x64
/scenes/pa2/ajax.obj
/scenes/pa3/ajax.obj
/scenes/pa5/ajax/ajax.obj
.idea
ext/opencv
/scenes/ibl/**/*.exr
/scenes/ptextures/**/*.exr
/scenes/final/**/*.obj
/scenes/final2/meshes
results
